@model IEnumerable<FTPClient.Models.Group>

@if(ViewBag.canCreateGroup)
{
    <p>
        @Html.ActionLink("Utwórz", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Operacje
        </th>
    </tr>

@foreach (var item in ViewBag.UserGroups) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Opuść", "Leave", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
