@model FTPClient.Models.User

@{
    ViewBag.Title = "FTP Service";
}

<div class="jumbotron">
    <h1>FTP Service</h1>
    <p class="lead">
        Projekt realizowany w ramach przedmiotu Bazy Danych 2
    </p>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            if(@ViewBag.isLoginError == true)
            {
                <div class="alert alert-danger">Niepoprawny login lub hasło</div>
            }
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user"></span>
                @Html.TextBoxFor(a => a.Login,
                    new {
                    id = "login-input",
                    @class = "form-control",
                    @placeholder="Login"
                })
            </div>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                @Html.PasswordFor(a => a.Password,
                new {
                id = "password-input",
                @class = "form-control",
                @placeholder="Hasło"
                })
            </div>
            <button type="submit" class="btn btn-default">Zaloguj</button>
            }

          
            </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Signup", "Account", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            if(@ViewBag.isSignupError == true)
            {
                <div class="alert alert-danger">Taki użytkownik już istnieje</div>
            }
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user"></span>
                @Html.TextBox("loginInput",
                null,
                new {
                id = "login-input",
                @class = "form-control",
                @placeholder="Login"
                })
            </div>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                @Html.Password("passwordInput",
                null,
                new {
                id = "password-input",
                @class = "form-control",
                @placeholder="Hasło"
                })
            </div>
            <button type="submit" class="btn btn-default">Zarejestruj</button>
            }
        </div>
    </div>
</div>
