@model IEnumerable<FTPClient.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Indexd</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Operacje
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.ActionLink(".", "Index", new {id = directory.parentId})
        </td>
        <td>

        </td>
    </tr>

    @foreach (var directory in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => directory.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=directory.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=directory.Id })
            </td>
        </tr>
    }

    @foreach (var file in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => file.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=file.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=file.Id })
            @Html.ActionLink("Pobierz", "Download", new { id=file.Id })
        </td>
    </tr>
    }

</table>

<asp:CalendarExtender ID="ControlIDHere" runat="server" Enabled="True"
                      TargetControlID="TextBoxIDHere" PopupButtonID="CalenderImageIDHere" Format="MM/dd/yyyy">
</asp:CalendarExtender>
