
<div class="row" style="margin-top:20px;">
    <div class="col-md-3" style="padding-right:40px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj nowy plik do aktualnego folderu</h3>
                </div>
                <div class="panel-body">
                    @if(ViewBag.FileUploadErrorOccured != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            @ViewBag.FileUploadErrorMessage
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    }

                    @using (Html.BeginForm("AddFile", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group">
                            <input type="file" name="file" />
                            <p class="help-block">Plik zachowa swoją nazwę!</p>
                            <input type="hidden" name="fileFolderID" value="@ViewBag.CurrentDirectoryID" />
                            <input type="hidden" name="accessType" value="1" />
                            <input type="hidden" name="permission" value="7" />
                        </div>
                    </div>
                    <button class="btn btn-success">Wyślij</button>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Utworzu nowy folder w aktualnym katalogu</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("AddDirectory", "Directories", FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group">
                            <label for="newDirectory-name-input">Nazwa folderu</label>
                            <input type="text" name="directoryName" id="newDirectory-name-input" class="form-control"/>
                            <input type="hidden" name="upperDirId" value="@ViewBag.CurrentDirectoryID" />
                            <input type="hidden" name="accessType" value="1" />
                            <input type="hidden" name="permission" value="7" />
                        </div>
                    </div>
                    <button class="btn btn-success">Wyślij</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Twoje foldery</h3>
                </div>
                <!-- Table -->
                <table class="table table-hover">
                    <tr>
                        <th>Nazwa</th>
                        <th>Typ dostępu</th>
                        <th>Uprawnienia</th>
                        <th>Operacje</th>
                    </tr>
                    @if(ViewBag.ParentFolderID != null)
                    {
                    <tr>
                        <td>@using (Html.BeginForm("goToDirectory", "Directories", FormMethod.Post, new { id = "goToParentForm" }))
                            {
                            @Html.AntiForgeryToken();
                            <a href="#" onclick="$('#goToParentForm').submit()">Folder wyżej</a>
                            <input type="hidden" name="dirId" value="@ViewBag.ParentFolderID" />
                            }
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    }
                    @using FTPClient.Controllers
                    @foreach (var directory in ViewBag.userDirectories as List<DirData>) {
                    <tr>
                        <td>
                            @{string formId = "goToDirForm-" + directory.dir.Id;}
                            @using (Html.BeginForm("goToDirectory", "Directories", FormMethod.Post, new { id = formId }))
                            {
                            string formSubmitLink = "$(\'#" + formId + "\').submit()";
                            @Html.AntiForgeryToken();
                            <a href="#" onclick="@formSubmitLink">@directory.dir.Name</a>
                            <input type="hidden" name="dirId" value="@directory.dir.Id" />
                            }
                        </td>
                        <td>
                            @directory.dirAccess.AccessType
                        </td>
                        <td>
                            @if((directory.dirAccess.Permissions & 4) == 4)
                            {
                                <text>r</text>
                            }
                            else
                            {
                                <text>-</text>
                            }
                            @if((directory.dirAccess.Permissions & 2) == 2)
                            {
                                <text>w</text>
                            }    
                            else
                            {
                                <text>-</text>
                            }
                            @if((directory.dirAccess.Permissions & 1) == 1)
                            {
                                <text>x</text>
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    @using (Html.BeginForm("ChangeName", "Directories", FormMethod.Post))
                                    {
                                    @Html.AntiForgeryToken();
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" placeholder="@directory.dir.Name" name="newName">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary btn-sm">Zmień nazwę</button>
                                        </span>
                                    </div><!-- /input-group -->
                                    <input type="hidden" name="dirId" value="@directory.dir.Id" />
                                    }
                                </div>
                                <div class="col-md-2">
                                    @using (Html.BeginForm("Delete", "Directories", FormMethod.Post))
                                    {
                                    @Html.AntiForgeryToken();
                                    <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                                    <input type="hidden" name="dirId" value="@directory.dir.Id" />
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Twoje pliki</h3>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>Nazwa</th>
                        <th>Rozmiar</th>
                        <th>Typ dostępu</th>
                        <th>Data dodatnia</th>
                        <th>Uprawnienia</th>
                        <th>Operacje</th>
                    </tr>
                    @foreach(var fileStruct in ViewBag.userFiles as List<FileData>)
                    {
                        <tr>
                            <td>@fileStruct.file.Name</td>
                            <td>@fileStruct.file.Size kB</td>
                            <td>@fileStruct.fileAccess.AccessType</td>
                            <td>@fileStruct.file.UploadTime</td>
                            <td>
                                @if((fileStruct.fileAccess.Permissions & 4) == 4)
                                {
                                    <text>r</text>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                                @if((fileStruct.fileAccess.Permissions & 2) == 2)
                                {
                                    <text>w</text>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                                @if((fileStruct.fileAccess.Permissions & 1) == 1)
                                {
                                    <text>x</text>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-6">
                                        @using (Html.BeginForm("ChangeName", "Files", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken();    
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-sm" placeholder="@fileStruct.file.Name" name="newName">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn btn-primary btn-sm">Zmień nazwę</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                            <input type="hidden" name="fileId" value="@fileStruct.file.Id" />
                                        }
                                    </div>
                                    <div class="col-md-3">
                                        @using (Html.BeginForm("Delete", "Files", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken();
                                            <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                                            <input type="hidden" name="fileId" value="@fileStruct.file.Id" />
                                        }
                                    </div>
                                    <div class="col-md-3">
                                        @using (Html.BeginForm("Download", "Files", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken();
                                            <button type="submit" class="btn btn-success btn-sm">Pobierz</button>
                                            <input type="hidden" name="fileId" value="@fileStruct.file.Id" />
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


<asp:CalendarExtender ID="ControlIDHere" runat="server" Enabled="True"
                      TargetControlID="TextBoxIDHere" PopupButtonID="CalenderImageIDHere" Format="MM/dd/yyyy">
</asp:CalendarExtender>
