
<div class="row" style="margin-top:20px;">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dodaj nowy plik do aktualnego folderu</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("AddFile", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group">
                            <input type="file" name="newFile" />
                        </div>
                    </div>
                    <button class="btn btn-success">Wyślij</button>
                }
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Twoje foldery</h3>
                </div>
                <!-- Table -->
                <table class="table table-hover">
                    <tr>
                        <th>Nazwa</th>
                        <th>Typ dostępu</th>
                        <th>Uprawnienia</th>
                        <th>Operacje</th>
                    </tr>
                    <tr>
                        <td>Nazwafolderu</td>
                        <td>Owner</td>
                        <td>rwx</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=5 }) |
                            @Html.ActionLink("Delete", "Delete", new { id=5 })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Twoje pliki</h3>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>Nazwa</th>
                        <th>Rozmiar</th>
                        <th>Typ dostępu</th>
                        <th>Data dodatnia</th>
                        <th>Uprawnienia</th>
                        <th>Operacje</th>
                    </tr>
                    <tr>
                        <td>Nazwafolderu</td>
                        <td>5 kB</td>
                        <td>Owner</td>
                        <td>Dziś</td>
                        <td>rwx</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=5 }) |
                            @Html.ActionLink("Delete", "Delete", new { id=5 })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@*<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Operacje
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @if(ViewBag.parentFolderId != 0)
            {
                @Html.ActionLink("folder wyżej", "Index", new {id = ViewBag.parentFolderId})
            }
        </td>
        <td>

        </td>
    </tr>

    @foreach (var directory in ViewBag.userDirectories) {
        <tr>
            <td>
                @directory.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=directory.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=directory.Id })
            </td>
        </tr>
    }

    @foreach (var file in ViewBag.userFiles) {
    <tr>
        <td>
            @file.Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=file.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=file.Id }) |
            @Html.ActionLink("Pobierz", "Download", new { id=file.Id })
        </td>
    </tr>
    }

</table>*@

<asp:CalendarExtender ID="ControlIDHere" runat="server" Enabled="True"
                      TargetControlID="TextBoxIDHere" PopupButtonID="CalenderImageIDHere" Format="MM/dd/yyyy">
</asp:CalendarExtender>
