@model IEnumerable<FTPClient.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Indexd</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Operacje
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @if(ViewBag.parentFolderId != 0)
            {
                @Html.ActionLink("folder wyżej", "Index", new {id = ViewBag.parentFolderId})
            }
        </td>
        <td>

        </td>
    </tr>

    @foreach (var directory in ViewBag.userDirectories) {
        <tr>
            <td>
                @directory.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=directory.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=directory.Id })
            </td>
        </tr>
    }

    @foreach (var file in ViewBag.userFiles) {
    <tr>
        <td>
            @file.Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=file.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=file.Id }) |
            @Html.ActionLink("Pobierz", "Download", new { id=file.Id })
        </td>
    </tr>
    }

</table>

<asp:CalendarExtender ID="ControlIDHere" runat="server" Enabled="True"
                      TargetControlID="TextBoxIDHere" PopupButtonID="CalenderImageIDHere" Format="MM/dd/yyyy">
</asp:CalendarExtender>
